@model TesteFabrica.MVC.ViewModels.ProdutoViewModel

@{
    ViewBag.Title = "Detalhes do produto";
}

    <body>
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Detalhes do produto</h2>

                <div>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Nome)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Descricao)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Descricao)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Preco)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Preco)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.IsActive)
                        </dd>

                    </dl>
                </div>
                <p>
                    <a class='btn btn-primary' href='@Url.Action("Edit", "Produto", new { id = Model.ProdutoId })'>
                        <i class="fas fa-edit" aria-hidden="true"></i>
                    </a>
                </p>

                <p>
                    @Html.ActionLink("Voltar para tela de pedidos", "Index")
                </p>
            </div>
        </div>
    </body>